.blue .titre > h3 > span {border-right: 1px solid #52c9ff}
.blue .contenuDroite h5 {color: #52c9ff;}
.blue .bouton {color: #52c9ff;}
.blue .contenuDroite p {color: #d5f4ff;}
.blue a:hover {color: #B8E8FF;}



.purple .titre > h3 > span {border-right: 1px solid #c56cd2}
.purple .contenuDroite h5 {color: #c56cd2;}
.purple .bouton {color: #c56cd2;}
.purple .contenuDroite p {color: #F6E3FB;}
.purple a:hover {color: #D7A9F5;}
