* {
    list-style: none outside none;
    margin: 0;
    padding: 0;
/*     transition: all 0.5s ease 0s; */
}
.title h3, .title h4 {
    margin: 0;
}
body {
    background-color: black;
    color: #c7c7c7;
}
body, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
a {
	transition: all 0.5s ease 0s;
}

a:link {
    color: #fff;
    text-decoration: none;
}
a:visited {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #ffe5b2;
    text-decoration: none;
}
a:active {
    color: #fff;
    text-decoration: none;
}



#header #logo {
    background: url("./img/obLogo.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 65px;
    margin-left: 30px;
    width: 284px;
}
#header #logo a {
    display: block;
    height: 65px;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}
#header #nav-bar {
    background: none repeat scroll 0 0 #142032;
    display: block;
    height: 65px;
    margin: 0;
    position: relative;
    width: 100%;
}
#header #nav {
    clear: both;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
#header #slider {
    background-image: url("./img/django.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    height: 500px;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    width: 100%;
    /*z-index: 1;*/
}
#header #nav #menu > ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 0;
}
#header #nav #menu > ul > li {
    display: block;
    float: left;
    height: 44px;
    position: relative;
}
#header #nav #menu > ul > li {
    color: azure;
    display: block;
    font-family: "Open Sans Condensed";
    font-size: 1em;
    height: 65px;
    line-height: 65px;
    padding: 1px 20px 0;
    text-align: center;
    text-transform: uppercase;
}
.container-product {
    background-position: center top;
    background-repeat: no-repeat;
    height: 605px;
    position: relative;
    width: 100%;
}
.container-center {
    margin: 0 auto;
}
.container-product .container-center {
    margin: 0 auto;
    max-width: 970px;
    min-height: 605px;
    overflow: hidden;
    position: relative;
}
.container-product .container-center > .title {
    color: white;
    height: 78px;
    margin: 0;
    padding-left: 70px;
    text-transform: uppercase;
}
.title h3 {
    display: table-cell;
    float: left;
    font-family: "Jockey One";
    font-size: 2.3em;
    font-weight: 300;
    line-height: 78px;
    margin-right: 20px;
    vertical-align: middle;
}
.title h4 {
    display: table-cell;
    font-family: "Open Sans";
    font-size: 1.1em;
    font-weight: 400;
    height: 78px;
    vertical-align: middle;
}
.title > h3 > span {
    border-right: 1px solid #8bd4ff;
    padding-right: 20px;
}
.product-img {
    height: 430px;
    position: absolute;
    top: 130px;
    width: 430px;
}
.product-text {
    overflow: hidden;
    position: absolute;
    right: 25px;
    top: 160px;
    width: 460px;
	height: 370px;
}
.product-text .tab-content {
    float: left;
    width: 460px;
}
.product-text .tab-container {
    height: 310px;
    width: 1500px;
}
.product-text .summary h2 {
    color: #fff;
    font-family: "Jockey One",sans-serif;
    font-size: 4em;
    font-weight: 300;
    line-height: 1em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
.product-text .summary h5 {
    color: #52c9ff;
    font-family: "Open Sans Condensed";
    font-size: 1.15em;
    font-weight: 700;
    line-height: 1.4em;
    margin: 2px 0 15px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.product-text .summary p {
    color: #d5f4ff;
    font-family: "Open Sans";
    font-size: 0.9em;
    line-height: 1.6em;
    text-shadow: 0 0 5px rgba(0, 45, 62, 0.8);
}
.button-container {
    margin-top: 20px;
    width: 470px;
}
.button-container .button {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: #52c9ff;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 0.938em;
    font-weight: 600;
    line-height: 1em;
    margin-right: 10px;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
	min-width: 182px;
	text-align: center;
}
.button-container .button > span {
    margin: 0 15px;
}

.button-container .button-summary {
    display: none;
}
.product-text .color > div {
    font-family: "Open Sans";
    font-size: 0.938em;
    font-weight: 600;
    line-height: 1em;
    border-radius: 5px;
    display: block;
    padding: 10px 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.product-text .color > div > span {
	margin-left: 20px;
}

.fixed {
    position: fixed !important;
    top: 0 !important;
}
#subNav {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    font-family: "Open Sans Condensed";
    font-size: 1.5em;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 801px;
    transition: none 0s ease 0s ;
    width: 100%;
    z-index: 8000;
}
#subNav li {
	display: inline-block;
	padding: 0px 20px;
}
#subNav li:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}
#subNav li a {
	color: #fff;
	text-transform: uppercase;
}

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; min-height: 550px; background-position:center top;}
		
.dots {
    display: block;
    margin: 0 auto;
    text-align: center;
	bottom: 40px;
    margin: 0 auto;
    position: relative;
    width: 800px;
}
.dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;
    border-radius: 6px;

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;

}

.dots li.active {
    background: #fff;
    opacity: 1;
}