table {
    border-collapse: collapse;
    border-spacing: 0;
    clear: both;
    color: #d5f4ff;
    font-family: "Open Sans";
    font-size: 0.8em;
    width: 100%;
}
table tr:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.15);
}
table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.3);
}
table tr * {
}
table thead tr, table tr.header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
table td {
    margin: 0;
    padding: 10px 20px;
    text-align: left;
    vertical-align: middle;
    width: 50%;
}
table th {
    color: #8bd4ff;
    font-weight: normal;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
}
ul.navTab {
    width: 100%;
}
ul.navTab li {
}
.tabs {
    margin: 0 auto 40px;
}
ul.navTab li:last-child {
    margin-right: 0;
}
ul.navTab li {
    float: left;
    margin-right: 2px;
}
.tabs  li {
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
}
.tabs  li a {
    color: #fff;
    display: block;
    font-family: "Open Sans Condensed";
    padding: 17px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.tabs  li.ui-tabs-active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
}
li.ui-tabs-active a {
}
.tab_container {
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    position: relative;
}
.tab_container div {
    width: 100%;
}

.fichetechnique .ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    background-color: rgba(0, 0, 0, 0.15) !important;
}



.tabs 
{
    	border-radius: 0 0 5px 5px;
	overflow: hidden;
}

.tabs ul.navTab > li { 
    	border-radius: 5px 5px 0 0;
}


.tabs ul.navTab > li:nth-child(1) {
	width: 100px;
}


.tabs ul.navTab > li:nth-child(2) {
	width: 100px;
}


.tabs ul.navTab > li:nth-child(3) {
	width: 127px;
}


.tabs ul.navTab > li:nth-child(4) {
	width: 127px;
}

.tabs ul.navTab > li > a{
	text-align: center;
}